<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="form-box">
    <h1>{{ title }}</h1>

    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                    <div class="form-errors">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit">Save</button>
        <a href="{% url 'reclaims_list' %}">Cancel</a>
</div>

</body>
</html>
