<header class="topbar">
  <h1>{% block page_title %}{% endblock %}</h1>
  <div class="account">
    <button class="account-btn">
      <span class="fa-stack fa-sm">
  <i class="fas fa-circle fa-stack-2x" style="color:#D3D3D3"></i>
  <i class="fas fa-user fa-stack-1x fa-inverse"></i>
</span>
        {{ request.session.agent_name|default:"Account" }}
    </button>
    <div class="account-menu">
        <p>Hello! <strong>{{ request.session.agent_name|default:"Account" }}</strong></p>
        <a href="{% url 'logout' %}" class="logout-link">Log out</a>
    </div>
</div>
</header>
