{% extends "base.html" %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="stats-grid">

  <div class="stat-card blue">
    <div>
      <p>Total Shipments</p>
      <h2>{{ shipments_count }} Shipment</h2>
    </div>
    <div class="icon">
      <i class="fa-solid fa-box"></i>
    </div>
  </div>

  <div class="stat-card purple">
    <div>
      <p>Clients</p>
      <h2>{{ clients_count }} Client</h2>
    </div>
    <div class="icon">
      <i class="fa-solid fa-users"></i>
    </div>
  </div>

  <div class="stat-card blue-soft">
    <div>
      <p>Success Rate</p>
      <h2>{{ success_rate }}%</h2>
    </div>
    <div class="icon">
      <i class="fa-solid fa-check"></i>
    </div>
  </div>

  <div class="stat-card pink">
    <div>
      <p>Incidents</p>
      <h2>{{ incidents_count }} Incident</h2>
    </div>
    <div class="icon">
      <i class="fa-solid fa-triangle-exclamation"></i>
    </div>
  </div>

</div>


<div class="card chart-card">
  <div class="chart-header">
    <h3>Shipments Over Time</h3>
    <span class="chart-subtitle">Last 30 days</span>
  </div>
<div class="chart-wrapper">
  <canvas id="shipmentsChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('shipmentsChart').getContext('2d');

  const shipmentsChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ chart_labels|safe }},
      datasets: [{
        label: 'Shipments',
        data: {{ chart_data|safe }},
        fill: true,
        tension: 0.4,
        borderWidth: 2
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        x: {
          grid: {
            display: false
          }
        },
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</div>
{% endblock %}
