{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Invoice List</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>
<body>
    <h1>Invoice Management</h1>
    
    <a href="{% url 'invoice_create' %}" class="add-btn">Add New Invoice</a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Client name</th>
                <th>Shipments number</th>
                <th>Issue date</th>
                <th>Due date</th>
                <th>Total amount</th>
                <th>Paid amount</th>
                <th>Status</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.client_familyname }} {{ invoice.client_firstname }}</td>
                <td>
                    <ul>
                        {% for shipment in invoice.shipments.all %}
                            <span>{{ shipment.shipment_number}}</span>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ invoice.invoice_issue_date }}</td>
                <td>{{ invoice.invoice_due_date }}</td>
                <td>{{ invoice.total_amount }}</td>
                <td>{{ invoice.amount_paid }}</td>
                <td>{{ invoice.get_invoice_status_display }}</td>
                <td>{{ invoice.invoice_notes }}</td>
                <td>
                    <a href="{% url 'invoice_update' invoice.id %}">Edit</a> |
                    <a href="{% url 'invoice_delete' invoice.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No invoices found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
