<!DOCTYPE html>
<html>
<head>
    <title>Delivery Tour List</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
        .add-btn { margin: 10px 0; }
    </style>
</head>
<body>
    <h1>Delivery Tour Management</h1>
    
    <a href="{% url 'tour_create' %}" class="add-btn">Add New Delivery Tour</a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tour number</th>
                <th>Driver name</th>
                <th>Vehicule </th>
                <th>Shipments number</th>
                <th>Distance</th>
                <th>Duration</th>
                <th>Fuel consumption</th>
                <th>Status</th>
                <th>Start date</th>
                <th>Complet date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tour in tours %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ tour.tour_number }}</td>
                <td>{{ tour.driver.driver_name }}</td>
                <td>{{ tour.vehicle.vehicle_registration_number }}</td>
                <td>
                    <ul>
                        {% for shipment in tour.shipments.all %}
                            <span>{{ shipment.shipment_number}}</span>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ tour.tour_distance }}</td>
                <td>{{ tour.tour_duration }}</td>
                <td>{{ tour.tour_fuel_consumption }}</td>
                <td>{{ tour.get_tour_status_display }}</td>
                <td>{{ tour.started_at }}</td>
                <td>{{ tour.completed_at }}</td>
                <td>
                    <a href="{% url 'tour_update' tour.id %}">Edit</a> |
                    <a href="{% url 'tour_delete' tour.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No tours found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>